/*
* APP SPECIFIC CSS
*/

body {
  font-family: 'Seravek', sans-serif;
  background-color: red;
}

input {
  font-size: 16px;
  font-weight: lighter;
}

.App {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden !important; 
}

#logo {
  background-image: url('../imgs/sunlabs-logo-white-text.png');
  background-repeat: no-repeat;
}

button {
  font-weight: bold;
  font-size: 1.5em;
}

input[type="email"], 
input[type="password"] {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    width: 175px;
}

.placeholder-wrap {
  display: inline-block;
  font-weight: lighter;
}

.placeholder-wrap p {
  opacity: 0.9;
  font-size: 0.7em;
  margin: 0 0 0.25em 0;
}

.placeholder-wrap a {
  color: #F2C94C;
}

@media screen and (min-width: 501px) {
  button {
    color: #333333;
    background-color: #F2C94C;
    font-size: 1.7em;
    border-radius: 20px;
    padding: 10px 20px !important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
  }
}

@media screen and (max-width: 500px) {
  button {
    background-color: #333333;
    color: #F2C94C;
    border-radius: 3.125em;
    height: 2.5em;
    width: 8em;
    font-size: 1.7em;
  }
}

@media screen and (max-width: 340px) {
  button {
    height: 2em;
    width: 7.5em;
    font-size: 1.5em;
  }
}