/*
* REMOVE/ADD STANDARD HTML PROPERTIES THROUGHOUT
* ALL OF ENERGIPORTALEN
*/

html,
body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

input {
  outline: none;
}

/*
* APP SPECIFIC CSS
*/

body {
  font-family: 'Seravek', sans-serif;
}

input {
  font-size: 16px;
  font-weight: lighter;
}

.App {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden !important; 
}

#logo {
  background-image: url('../imgs/sunlabs-logo-white-text.png');
  background-repeat: no-repeat;
}

button {
  font-weight: bold;
  font-size: 1.5em;
}

input[type="email"], 
input[type="password"] {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    width: 175px;
}

.placeholder-wrap {
  display: inline-block;
  font-weight: lighter;
}

.placeholder-wrap input {
  width: 100%;
  box-sizing: border-box;
}

.placeholder-wrap p {
  opacity: 0.9;
  font-size: 0.7em;
  margin: 0 0 0.25em 0;
}

.placeholder-wrap a {
  color: #F2C94C;
}

.message-box {
  position: absolute;
  right: 1em;
  top: 7em;
  min-width: 15em;
  z-index: 1000;
  border-radius: 1.5em;
  padding: 1em;
  background-color: rgba(0,0,0,0.75);
  color: white;
}

.message-box.error {
  background-color: #EB5757;
  color: white;
}

.message-box.error .close {
  color: #AC2B2B;
}

.message-box .close:hover {
  cursor: pointer;
}

.message-box .info {
  float: left;
  margin-right: 1em;
}
.message-box .title {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.message-box .body {
  margin: 0;
  font-weight: lighter;
  font-size: 0.8em;
}
.message-box .close {
  float: right;
  margin-right: 0.25em;
}

@media screen and (min-width: 501px) {
  button {
    color: #333333;
    background-color: #F2C94C;
    font-size: 1.7em;
    border-radius: 20px;
    padding: 10px 20px !important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
  }
}

@media screen and (max-width: 500px) {
  button {
    background-color: #333333;
    color: #F2C94C;
    border-radius: 3.125em;
    padding: 0.5em 1em;
    font-size: 1.7em;
  }
}