button {
  background-color: #333333;

  border: none;
  border-radius: 3.125em;
  
  padding: 0;
  margin: 0;

  font: inherit;
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  button {
    background-color: #333333;
    color: #F2C94C;

    height: 3.125em;
    width: 9.25em;
  }

  .firstSection {
    position: relative;
  }

  /*TODO universal backgrounds div ?*/
  .firstSection .background {
    background-color: #26AE60;

    border-top-left-radius: 24em;
    border-top-right-radius: 24em;
    

    margin-left: -50%;
    width: 200%;
    margin-top: 10em;
    height: 507px;
  }

  .App .firstSection img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -5em;
  }
}

.App {
  overflow-x: hidden !important;
}