@media screen and (min-width: 501px){

.navbar {
    margin: 0;
    width: 100%;
    padding: 1em;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.navbar button {
    display: inline-block;
}

.navbar input[name="email"], 
.navbar input[name="password"] {
    margin-right: 2em;
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    width: 175px;
    display: inline-block;
    outline: none;

}
  .navbar .logo-wrap, 
  .navbar .sign-wrap {
    display: inline-block;

  }

  .navbar .sign-wrap{
    float: right;
  }

  .navbar .logo-wrap{
    float: left;
  }

  .navbar .logo-wrap h1, 
  .navbar .logo-wrap h2{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .navbar .logo-wrap h2{
    font-weight: lighter;
    font-size: 1em;
    color: #CFCFCF;
  }

  .navbar .logo-wrap h1{
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 1px;
  }

}

@media screen and (max-width: 500px) {
  .navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .navbar button {
    float: right;
    margin-right: -2em;
    margin-top: 1em;
    text-indent: -1em;
    outline: none;
  }

  .navbar input[name="email"], 
  .navbar input[name="password"] , 
  .navbar .logo-wrap {
    display: none;
    outline: none;

  }
}