@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 3.125em;
  }
  .navbar button {
    float: right;
    margin-right: -2em;
    margin-top: 1.5em;
    text-indent: -1em;
  }
}