.section3 {
  background-color: white;
  top: 200%;
}

@media screen and (max-width: 500px) {

  .section3 .header {
    background: linear-gradient( #2F80ED, white);
  }

  .section3 .bigSun {
    z-index: 0;
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
  }

  .section3 .textContent{
    margin-top: 215px;
  }

  .section3 .textContent h2 {
    color: white;
  }
}