.section2 {
  background-color: #2F80ED;
  top: 100%;
}

.section2 .header {
    background: linear-gradient( #26AE60, #2F80ED);
}

.section2 .clouds {
    z-index: 0;
    position: absolute;
    width: 100%;
    opacity: 0.25;
    height: 250px;
    background-image: url('../imgs/mobile-clouds-section2.png');
    background-repeat: repeat-x;
    background-size: 300px auto;
    animation-name: MOVE-CLOUDS-2;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 501px) {
  
  .section2 .clouds{
  top: 45%;
  height: 400px;
  }
}

@media screen and (max-width: 500px) {


  .section2 .clouds {
    top: 50%;
    height: 250px;
  }

}