@media screen and (max-width: 500px) {
  .section1 .hill {
    position: absolute;
    top: 35%;
    left:0;
    background-color: #26AE60;

    border-top-left-radius: 24em;
    border-top-right-radius: 24em;

    z-index: 0;

    overflow-y: hidden !important;     

    margin-left: -50%;
    width: 200%;
    height: 65%;
  }

  .section1 .background {
    position: absolute;
    top: 0%;
    left:0;
    background-color: #33B5FF;
    width: 100%;
    height: 50%;
    z-index: -1;
  }

  .section1 .logo, 
  .section1 button, 
  .section1 .textContent, 
  .section1 .downButton {
    position: relative;
    display: block;
    margin: auto;
    z-index: 1;
  }
  .section1 .textContent {
    margin-top: 2em;
  }

  .section1 .logo {
    padding-top: 40%;
  }

  .section1 button {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
  }

  .section1 .downButton {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    margin: 0 auto;
  }
}
