.section2 {
  background-color: #2F80ED;
  height: 100%;
}

@media screen and (max-width: 500px) {

  .section2 .bigSun {
    z-index: 0;
    position: absolute;
    top: 290px;
    display: block;
    width: 100%;
  }

  .section2 .header {
    background: linear-gradient( #26AE60, #2F80ED);
  }

}