.section4 {
  background-color: white;
  top: 300%;
}

@media screen and (max-width: 500px) {

  .section4 .header {
    background: linear-gradient( #F2C94C, white);
  }

  .section4 h2 {
    margin-top: 2em;
    color: #2D9CDB;
  }

  .section4 .text-content {
    padding-bottom: 25px;
  }

  #euLogo,
  #lulLogo,
  #sunlabsLogo {
    z-index: 0;
    display: block;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    
  }

  #euLogo {
    background-image: url('../imgs/euLogo.png');
    background-size: auto 90%;
    height: 75px;
    margin-bottom: 25px;
  }

  #lulLogo {
    background-image: url('../imgs/luLogo.png');
    background-size: auto 90%;
    height: 75px;
  }

#sunlabsLogo {
    height: 75px;
    z-index: 1;
    background-color: rgba(255,255,255,0.15);
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 90%;
    margin: 0 auto;
    background-image: url('../imgs/sunlabs-logo-text.png');
    background-size: 200px auto;
  }

  #sunlabsLogo-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    z-index: 1;
    background-color: rgba(255,255,255,0.15);
    margin: 0 auto;
    background-image: url('../imgs/sunlabs-logo-text.png');
    background-size: 75px auto;
  }

}