
.section1 {
    background-color: #33B5FF;
    top: 0%;
}

@media screen and (max-width: 500px) {
  .section1 .hill {
    position: absolute;
    top: 175px;
    left:0;
    width: 200%;
    height: 100%;
    background-color: #26AE60;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    z-index: 0;
    margin-left: -50%;
  }

  .section1 .logo, 
  .section1 button, 
  .section1 .text-content, 
  .section1 .downButton {
    position: relative;
    display: block;
    margin: auto;
    z-index: 1;
  }

  .section1 .logo {
    padding-top: 100px;
  }

  .section1 button {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
  }

  .section1 .downButton {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
