  .section {
    background-color: #33B5FF;
    position: relative;

    overflow-x: hidden !important;
    overflow-y: hidden !important; 
     
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }