.section3 {
  background-color: white;
  top: 200%;
}

@media screen and (max-width: 740px) {

  .section3 .header {
    background: linear-gradient( #F2C94C, white);
  }

  .section3 .text-content h2 {
    color: #2D9CDB;
  }
}