  .section {
    position: relative;
    overflow-x: hidden !important;
    overflow-y: hidden !important; 
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .section .header {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 200px;
    z-index: 0;
  }

  .section .textContent {
    margin-top: 8em;
    position: relative;
    z-index: 1;
  }