.navbar-splash {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-wrap {
  user-select: none;
}

.logo-wrap h2 {
  font-size: 0.9em;
  font-weight: lighter;
}

#logo {
  background-position: left 10px;
  height: 35px;
  background-size: 150px auto;
  margin-bottom: 1px;
}

/* Inbetween mobile and desktop */
@media screen and (min-width: 501px) and (max-width: 850px) {
  .navbar-splash {
    background: linear-gradient(rgba(0,0,0,0.25), transparent) !important;
  }
  .navbar-splash .popup-auth {
    display: block !important;
    margin: -1em;
  }
  #mobile-btn-sign {
    display: block !important;
    float: right;
    background-color: #333333;
    color: #F2C94C;
  }
  .navbar-splash .logo-wrap h2 {
    color: white !important;
  }
  .navbar-splash .sign-wrap {
    display: none !important;
  }
}

@media screen and (min-width: 501px) {

  .navbar-splash {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .navbar-splash .popup-auth {
    display: none;
  }

  #mobile-btn-sign {
    display: none;
  }

  .navbar-splash button {
    display: inline-block;
  }

  .navbar-splash .placeholder-wrap {
    margin-right: 1em;
  }

  .navbar-splash .logo-wrap, 
  .navbar-splash .sign-wrap {
    display: inline-block;
  }

  .navbar-splash .sign-wrap{
    float: right;
  }

  .navbar-splash .logo-wrap{
    float: left;
  }

  .navbar-splash .logo-wrap h1, 
  .navbar-splash .logo-wrap h2{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .navbar-splash .logo-wrap h2{
    color: #CFCFCF;
  }

  .navbar-splash .logo-wrap h1{
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 1px;
  }

}

@media screen and (max-width: 500px) {
  .navbar-splash {
    padding: 0;
  }
  #mobile-btn-sign {
    float: right;
    margin-right: -2em;
    padding-right: 2.5em;
    margin-top: 1em;
    outline: none;
  }

  .navbar-splash .sign-wrap,
  .navbar-splash .logo-wrap {
    display: none;
  }

}