.popup-bg {
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

.popup {
  background-color: white;
  text-align: center;
  padding: 1em 0;
  box-sizing: border-box;
  padding: 1em;
  box-sizing: border-box;
  color: black;
}

.popup h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5em;
  margin: 0.5em 0;
  font-weight: lighter;
  color: black;
}

.popup .placeholder-wrap {
  display: block;
  margin-bottom: 1em;
}

.popup .close {
  position: absolute;
  top: 1em;
  text-transform: lowercase;
  right: 1em;
  width: 32px;
  height: 32px;
  display: block;
  font-weight: lighter;
  font-size: 2em;
  color: #AAA;
}

.popup input {
  border: 1px solid black;
}