/* SECTIONS */
.sections {
  margin: 0;
  padding: 0;
}

/* SECTION 1 */

.section1 {
    background-color: #33B5FF;
    top: 0%;
}

.section1 .logo {
  position: relative;
  z-index: 1;
}

.section1 .hill {
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: #26AE60;
    z-index: 0;
}

.section1 .clouds {
    z-index: 0;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 400px auto;
    animation-name: MOVE-CLOUDS;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Inbetween mobile and desktop */
@media screen and (min-width: 501px) and (max-width: 850px) {
  .section1 .creat-wrap {
    margin-right: 2em !important;
  }
  .section1 .logo {
    top: 170px !important;
    width: auto !important;
  }
}

@media screen and (max-height: 549px) {
  .section1 .downButton {
    display: none !important;
  }
}

@media screen and (min-height: 550px) {
.section1 .downButton {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      bottom: 2em;
  }
}

@media screen and (min-width: 501px) {
  .section1 .popup-signup {
    display: none;
  }
  .section1 .text-content {
    margin-top: 30em;
  }

  #mobile-btn-create-account {
    display: none;
  }

  .section1 .clouds {
      top: 60px;
      height: 250px;
      background-image: url('../../imgs/mobile-clouds-section1.png');
    }

  .section1 .hill {
      top: 250px;
      left: -65%;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
  }

  .section1 .logo {
      position: absolute;
      top: 135px;
      left: 10%;
      width: 350px;
  }

  .section1 .creat-wrap {
    margin-right: 5em;
    margin-top: 7em;
    position: relative;
    float: right;
    z-index: 1;
  }

  .section1 .creat-wrap > h2,
  .section1 .creat-wrap > h1 {
    text-shadow: 0 0 5px rgba(0,0,0,0.25);
  }

  .section1 .creat-wrap > h2 {
    font-size: 0.75em;
  }

  .section1 .creat-wrap > h1 {
    margin-bottom: 0;
  }

  .section1 button{
    margin-top: 10px;
  }

  .creat-wrap .placeholder-wrap {
      margin-top: 0.5em;
      display: block;
  }

  .section1 h1, 
  .section1 h2{
      margin-top: 0px;
      margin-bottom: 10px;
      font-weight: lighter;
      color: white;
  }

}

@media screen and (max-width: 500px) {
  .section1 .hill {
    position: absolute;
    top: 175px;
    left: -50%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
  }

  .section1 .clouds {
    height: 250px;
    background-image: url('../../imgs/mobile-clouds-section1.png');
  }

  #mobile-btn-create-account,
  .section1 .logo, 
  .section1 .text-content {
    position: relative;
    display: block;
    margin: auto;
    z-index: 1;
    margin-top: 2em;
  }

  .section1 .logo {
    margin: 0 auto;
    padding-top: 100px;
  }

  #mobile-btn-create-account {
    margin-top: 2em;
  }
  
  .section1 .creat-wrap {
    display: none;
  }
}

@media screen and (max-width: 325px) {

   #mobile-btn-create-account{
    margin-top: 0.5em;
   }

   .downButton {
     display: none !important;
   }

}

/* SECTION 2 */

.section2 {
  background-color: #2F80ED;
  top: 100%;
}

.section2 .header {
    background: linear-gradient( #26AE60, #2F80ED);
}

.section2 .clouds {
    z-index: 0;
    position: absolute;
    width: 100%;
    opacity: 0.25;
    height: 250px;
    background-image: url('../../imgs/mobile-clouds-section2.png');
    background-repeat: repeat-x;
    background-size: 300px auto;
    animation-name: MOVE-CLOUDS-2;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 501px) {
  .section2 .text-content {
    margin-top: 10em;
  }
  .section2 .clouds{
    top: 45%;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .section2 .clouds {
    top: 50%;
    height: 250px;
  }

  .section2 .text-content {
    margin-top: 8em;
  }
}

/* SECTION 3 */

.section3 {
  top: 200%;
  background-image: url('../../imgs/bigSun.png');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #2F80ED;
}

.section3 .text-content {
  position: absolute;
}

@media screen and (min-width: 501px) {
  .section3 .text-content {
    bottom: 2em;
    left: 12.5%;
  }
}

@media screen and (max-width: 500px) {
  .section3 .text-content {
    top: 8em;
  }
}

/* SECTION 4 */

.section4 {
  background-color: white;
  top: 300%;
}

.section4 .header {
    background: linear-gradient( #F2C94C, white);
}

.section4 h2 {
  color: #2D9CDB;
}

#euLogo {
  background-image: url('../../imgs/euLogo.png');
}

#lulLogo {
  background-image: url('../../imgs/luLogo.png');
}

#sunlabsLogo {
  background-image: url('../../imgs/sunlabs-logo-black-text.png');
}

#euLogo,
#lulLogo,
#sunlabsLogo {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 501px) {

  .section4 .text-content {
    padding-bottom: 2.5em;
  }

  #euLogo {
    background-size: auto 90%;
    height: 75px;
    margin-bottom: 25px;
  }

  #lulLogo {
    background-size: auto 90%;
    height: 75px;
  }

#sunlabsLogo {
    height: 75px;
    margin: 0 auto;
    width: 100%;
    background-size: 200px auto;
  }
}

@media screen and (max-width: 500px) {

  .section4 .text-content h2 {
    color: black;
  }

  .section4 .text-content {
    margin-top: 8em;
    padding-bottom: 25px;
  }

  #euLogo {
    background-size: auto 90%;
    height: 75px;
    margin-bottom: 25px;
  }

  #lulLogo {
    background-size: auto 90%;
    height: 75px;
  }

#sunlabsLogo {
    height: 75px;
    z-index: 1;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 90%;
    margin: 0 auto;
    background-size: 200px auto;
  }

  #sunlabsLogo-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    z-index: 1;
    background-color: rgba(255,255,255,0.15);
    margin: 0 auto;
    background-size: 75px auto;
  }

}