/*
* REMOVE/ADD STANDARD HTML PROPERTIES THROUGHOUT
* ALL OF ENERGIPORTALEN
*/

html,
body {
  margin: 0;
  padding: 0;
  height: auto !important;
  height: 100%;
}

#root, #root > div {
  height: auto !important;
  height: 100%;
}

ul, 
ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline li{
  display: inline-block;
}

figure {
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}