.blockk.blockk-add,
.blockk.blockk-add .content {
  overflow: visible;
}

@media screen and (min-width: 501px){
  .blockk-add .content {
    height: 270px;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .blockk-add .content {
    height: 100%;
  }
}

.blockk-add input,
.blockk-add button {
  margin-bottom: 10px;
  border-radius: 5px;
}
.blockk-add .choose-loc-add, 
.blockk-add .choose-block-add, 
.blockk-add .choose-time-add,
.blockk-add .choose-content-add {
  width: 90%;
  margin-bottom: 10px;
}
.blockk-add .choose-loc-add {
  margin-top: 10px;    
}

.blockk-add .content .button-wrapper {
  display: table;
  margin: 0 auto;
  width: 90%;
}

/* fix style when save-block text doesnt fit on one row */
.blockk-add button {
  font-weight: normal;
  font-size: 1.1em;
  color: white;
  display: table-cell;
  box-shadow: none;
  margin: 0 auto 10px auto;
  background-color: #EB5757;
  width: 45%;
}

.blockk-add .content .button-wrapper .save-block-add {
  background-color: #219653;
  width: 45%;
  float: right;
}