@media screen and (max-width: 500px) {

  .blockk-add {
    display: inline-block;
  }

  .blockk-add input,
  .blockk-add button {
    margin-left: 10px;
  }

  .blockk-add input,
  .blockk-add button {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .blockk-add input {
    border: 1px solid gray;
    font-size: 1.125em;
    padding: 0.5em;
  }

  .blockk-add .chooseLoc-add {
    margin-top: 10px;
  }

  .blockk-add .chooseLoc-add {
    width: 80%;
  }
  .blockk-add .chooseBlock-add {
    width: 80%;
  }
  .blockk-add .chooseTime-add {
    width: 30%;
  }
  .blockk-add .chooseContent-add {
    width: 47%;
  }
  .blockk-add button {
    background-color: #219653;
    font-weight: normal;
    color: white;
    width: 60%;
  }
}