.blockk {
  width: 97%;
  margin: 1%;
  border-radius: 10px;
  border: 2px solid black;
  overflow: auto;
  min-width: 300px;
}

.blockk header {
  box-sizing: border-box;
  position: relative;
  padding: 5px;
  width: 100%;
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

.blockk .description-wrap {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.blockk .tool-wrap {
  position: absolute;
  right: 1em;
}

.blockk .tool-wrap > .button {
  line-height: 50px;
  text-transform: uppercase;
  color: #219653;
}

.blockk .time-wrap {
  float: left;
}

.blockk header .time-wrap > .value {
  margin: 5px 0 0 5px;
  width: 40px;
  line-height: 40px;
}

.blockk .time-wrap > .value {
  background-color: gray;
  text-align: center;
  border-radius: 5px;
  font-size: 0.875em;
  color: #333333;
}

.blockk .title {
  color: black;
  text-transform: uppercase;
}

.blockk .subtitle {
  color: #828282;
}

.blockk .content {
  box-sizing: border-box;
  overflow-y: scroll;
}

.blockk footer {
  display: none;
}

/*
* LINE CHART BLOCKS
*/
.blockk-line {
  border-color: green;
}

.blockk-line header {
  border-bottom-color: green;
}

.blockk-line .time-wrap > .value {
  background-color: #F2C94C;
}

.blockk-line > .content {
  padding: 7px;
}

.blockk-line .content > canvas {
  /*margin-top: -23px;*/
}

.blockk-line .content > iframe {
  display: none;
}

/*
* TABLE INFORMATION BLOCK
*/
.blockk-table {
  border-color: black;
}

.blockk-table header > .time-wrap {
  display: none;
}

.blockk-table .time-wrap .value {
  background-color: #F2C94C;
  padding: 5px;
  margin: 12px 10px 0 10px;
}

.content-table .data-wrap {
  float: right;
  padding: 7px 0.75em 7px 0;
}

.content-table .data-wrap .value {
  color: black;
}

.content-table .data-wrap .unit {
  color: gray;
  font-size: 12px;
}

.content-table .description-wrap {
  margin-left: 0;
  margin-top: 0;
}

.content-table .description-wrap .title {
  line-height: 50px;
}

.content-table {
  width: 100%;
  /*margin-top: -23px;*/
  box-sizing: border-box;
}

.content-table tr {
  width: 100%;
}

.content-table td {
  border-bottom: 1px solid lightgray;
  width: 100%;
  /*padding: 1em;*/
  margin: 0;
}

.content-table tr:last-child > td {
  border-bottom: none;
}

.content-table .add-information {
  color: #219653;
}

/*
* ILLUSTRATION BLOCKS
*/
.blockk-illu {
  background-color: #25436A;
  border-color: #25436A;
}

.blockk-illu header {
  display: none;
}

.blockk-illu .content {
  height: 100% !important;
}

.blockk-illu .content-illu {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.blockk-illu.block-scooter .content-illu {
  background-image: url('../imgs/stars.png');
  background-position: center center;
  background-size: 75% auto;
}

.content-illu .value-illu {
  position: absolute;
  color: white;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  text-align: right;
}

.content-illu .earth {
  position: absolute;
  width: 100%; height: 100%;
  background-image: url('../imgs/earth.png');
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: SPIN;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.content-illu .scooter {
  position: absolute;
  width: 100%; height: 100%;
  background-image: url('../imgs/scooter.png');
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: right 40px top 50px;
  z-index: 10;
  animation-name: BUMP;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.blockk-illu.block-phone {
  background-color: #272727;
  border-color: black;
}

.blockk-illu.block-phone .content-illu {
  position: relative;
}

.block-phone .phone,
.block-phone .cable,
.block-phone .charge {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 65px auto;
}

.block-phone .phone {
  width: 100%;
  height: 100%;
  background-position: center center;
  z-index: 10;
  background-image: url('../imgs/phone.png');
}

.block-phone .cable {
  background-image: url('../imgs/cable.png');
  height: 57px;
  width: 100%;
  background-size: 8px auto;
  background-position: center top;
  z-index: 5;
  bottom: 0;
  animation-name: PLUG_IN;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.block-phone .charge {
  opacity: 0;
  background-image: url('../imgs/charge.png');
  width: 100%;
  height: 100%;
  background-size: 16px auto;
  background-position: center center;
  z-index: 15;
  animation-name: FADE;
  animation-delay: 1.5s;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes FADE {
  0%, 100% {
    opacity: 0.1;
  }
  50% { 
    opacity: 1.0;
  }
}

@keyframes PLUG_IN {
  from {
    bottom: 0;
  }
  to { 
    bottom: 28px;
  }
}

@keyframes SPIN {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}
@keyframes BUMP {
  from {
      background-position: right 40px top 50px;
  }
  to { 
      background-position: right 40px top 50.5px;
  }
}

@media screen and (min-width: 501px){

   .blockk {
      display: inline-block;
      width: 31%;
      margin: 0 0.5% 15px 0.5%;
      height: 270px;
      max-width: 400px;
  }

  .blockk > .content {
    height: 210px;
  }

}

@media screen and (max-width: 500px) {

  .blockk {
    margin-bottom: 1em; 
    min-width: 280px;
  }

  .blockk .tool-wrap {
    display: none;
  }

  .blockk-illu {
    height: 300px;
  }

  @keyframes PLUG_IN {
  from {
    bottom: 0;
  }
  to { 
    bottom: 43px;
  }
}

}