.bot-navbar-portal {
  background: #ffd70d;
  opacity: 1.00;
  z-index: 100;
  position: fixed;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 501px){

  .bot-navbar-portal {
      background-image: url('../../imgs/sunlabs-logo-black-text.png');
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 150px auto;
      font-size: 1.5em;
      border-bottom: 1px solid lightgray;
      background-color: #ffd70d;

      top: 0;
      color: black;
      display: inline-block;
      padding: 1em 0;
  }

  .bot-navbar-portal ul{
    padding-left: 200px;
  }

  .bot-navbar-portal li {
    display: inline-block;
    font-size: 1em;
    width: 150px;
    text-align: left;
    padding: 1em 0;
    text-transform: uppercase;
    padding: 10px;
  }

  .bot-navbar-portal .sign-out.icon{
    float: right;
    cursor: pointer;
  }

  li:hover {
  color: white;
  }

}

@media screen and (max-width: 500px) {
  .bot-navbar-portal {
    text-align: center;
    bottom: 0;
    border-top: 1px solid lightgray;
  }

  .bot-navbar-portal .icon {
    display: inline-block;
    font-size: 1em;
    width: 33%;
    padding: 1em 0;
    text-transform: uppercase;
  }

}