.compare-wrap .img-circle {
    display: block;
    border-radius: 50%;
}

.content-detailedBlock header{
   display: none;
}

.compare-wrap .info-fac-button button,
.content-detailedBlock .blockk.blockk-line button{
  display: block;
  text-transform: uppercase;
  background-color: #219653;
  color: white;
  font-weight: lighter;
 box-shadow: none;
  }

@media screen and (min-width: 501px){

  .compare-wrap{
    margin: 1em 0 0 0;
  }
  
  .compare-wrap .picture-wrap{
    float: left;
  }

  .compare-wrap .img-circle {
    width: 75px;
    margin: 1em 0 0 1em;
    overflow: auto;
  } 

  .compare-wrap .blockk.fac-block{
    height: 200px;
    width: 45%;
    border-width: 1px;
    border-radius: 0;
    border-color: gray;
  }

  .compare-wrap .info-fac-wrap .wrap-info{
    display: none;
  }

  .compare-wrap .description-fac-wrap{
    width: 70%;
    text-align: left;
    margin-left: 0;
    float: right;
    overflow: auto;
  }

  .compare-wrap .info-fac-button button,
  .content-detailedBlock .blockk.blockk-line button{
    font-size: 1em;
    margin: 0 0 1em 1em;
    border-radius: 5px;
  }

  .content-detailedBlock .blockk.blockk-line{
    width: 775px;
    height: 475px;
    max-width: none;
    border-radius: 0;
    border-width: 1px;
    border-color: gray;
    margin: 0; 
  }

  .content-detailedBlock .blockk > .content{
    height: 400px;
  }

  .content-detailedBlock .blockk footer{
    display: block;
  }

  .content-detailedBlock .blockk.blockk-line footer button{
    margin: 0 0 0 1em;
    float: left;
    background-color: white;
    color: #BDBDBD;
    border-style: solid;
    border-color: #BDBDBD;
    border-width: 1px;
  }

   .content-detailedBlock .blockk.blockk-line footer button#export-data{
     float: right;
     margin: 0 1em 0 0;
   }

   #portal .content .compare-wrap .add-block{
     width: 45%;
     height: 200px;
     line-height: 200px;
     padding: 0;
     display: inline-block;
     text-align: center;
   }

}

@media screen and (max-width: 500px){

  #portal .content .detailedBlock {
  display: flex;
  flex-direction: column-reverse;
  }

  .compare-wrap .info-fac-wrap .info-fac-button button{
    font-size: 1em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 2px;
    float: right;
  }

  .compare-wrap .blockk.fac-block{
    height: 95px;
    min-width: 0px;
    width: 95%;
    margin-bottom: 0;
    display: inline-block;
  }

  .compare-wrap .blockk.fac-block .img-circle{
    height: 80px;
    width: 80px;
    float: left;
    margin: 0 0.5em 0 0.5em;
    vertical-align: middle;
  }

  .compare-wrap .blockk .description-fac-wrap{
    text-align: left;
    margin: 0 0 0 0em;
  }

  .compare-wrap .blockk .description-fac-wrap .title{
      font-size: 4.5vw;
 }

   .compare-wrap{
    display: block;
  }

  .compare-wrap .info-fac-wrap .wrap-info{
    display: none;
  }
  
  #portal .content .detailedBlock header .compare-wrap .blockk.add-block{
    min-width: 0px;
    padding: 0; 
    line-height: 95px;
    text-align: center;
  }

}