@media screen and (max-width: 500px) {
  .gen-info-block {
    padding: 0;
  }

  .gen-info-block .header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #6FCF97;
    text-align: left;
    vertical-align: center;
    height: 70px;
  }

  .gen-info-block .header .name-location {
    overflow: auto;
    line-height: normal;
    margin-top: 7px;
  }

  .gen-info-block .header .name-location .name {
    font-weight: normal;
    font-size: 1em;
    margin-left: 8px;
  }
  .gen-info-block .header .name-location .location {
    font-size: 0.6em;
    color: #808080;
    margin-left: 8px;
  }

  .gen-info-block .header .edit {
    float: right;
    margin-right: 20px;
    line-height: 70px;   
  }
}
