@media screen and (max-width: 500px) {
  #portal .gen-info-block {
    padding: 0;
    border-color: #4F4F4F;
  }

  .gen-info-block .header {
    padding: 7px 0 0 0;
    margin: 0;
    border-bottom: 2px solid #BDBDBD;
    text-align: left;
    vertical-align: center;
    height: 45px;
  }

  .gen-info-block .header span {
    padding: 0;
    margin: 0 4px 0 0;
    float: left;
  }

  .gen-info-block .header .name-location {
    overflow: auto;
    line-height: normal;
  }

  .gen-info-block .header .name-location .name {
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 8px;
  }
  .gen-info-block .header .name-location .location {
    font-size: 0.5em;
    color: #808080;
    margin-left: 8px;
  }

  .gen-info-block .header .edit {
    float: right;
    margin-right: 20px;
    line-height: 40px;
    font-size: 0.6em;   
    color: #219653;
  }
}
