#portal > .content {
  background-color: #FAF9F4;
}

#portal .content .add-block {
    border: 2px dashed #BFBFBF;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 15px;
}
  .block-wrap{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  .block-wrap .blockk{
    width: auto;
    max-width: 580px;
    flex-basis: 580px;
    flex-grow: 1;
  }

  .FacBlock-wrap-dash{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  .FacBlock-wrap-dash .blockk.fac-block{
    display: inline-block;
    border-width: 1px;
    border-color: lightgray;
    height: 70px;
  }

  .FacBlock-wrap-dash .blockk .description-fac-wrap .name{
      font-size: 18px;
      text-transform: capitalize;
      font-weight: lighter;
  }

  .FacBlock-wrap-dash .blockk .description-fac-wrap .city {
      font-size: 14px;
      font-weight: lighter;
      margin-top: 5px;
  }

  .FacBlock-wrap-dash .picture-wrap {
    margin-top: 10px;
  }

@media screen and (min-width: 501px){

  #portal > .content {
    padding-top: 100px;
    box-sizing: border-box;
    padding: 100px 1em 1em 1em;
  }

  #portal > .content > .text-block {
    text-align: left;
    padding: 1em 0;
    box-sizing: border-box;
  }

  #portal > .content > .text-block h1 {
    text-transform: uppercase;
  }

  #portal > .content > .text-block h2 {
    font-weight: lighter;
    font-size: 16px;
  }

  #portal > .content .inline-button{
    font-size: 10px;
    /* color: #6FCF97; */
    color: gray;
    cursor: pointer;
  }

  #portal .content .add-block {
    display: none;
  }

  .FacBlock-wrap-dash .blockk.fac-block{
    width: 100%;
    margin-right: 0;
  }

  .FacBlock-wrap-dash .blockk.fac-block .img-circle{
    vertical-align: middle;
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 10px 0 10px;
  }

  .FacBlock-wrap-dash .blockk .description-fac-wrap{
    vertical-align: middle;
    text-align: left;
    margin: 0 0 0 4.25em;
  }

  .FacBlock-wrap-dash .blockk.fac-block .info-fac-wrap{
    display: none;
  }

}

@media screen and (max-width: 500px) {
  #portal > .content {
    margin: 6em 1em 5em 1em;
  }

  #portal .content .add-block {
    display: block;
  }

  #portal .text-block{
    display: none;
  }

  .block-wrap{
    justify-content: center;
  }

  .FacBlock-wrap-dash .blockk.fac-block{
    height: 95px;
    min-width: 0px;
    margin-bottom: 0;
  }

  .FacBlock-wrap-dash .blockk.fac-block .img-circle{
    width: 42px;
    height: 42px;
  }

  .FacBlock-wrap-dash .blockk .description-fac-wrap .name{
    font-size: 3.0vw;
  }

 #portal .content .FacBlock-wrap-dash .blockk.fac-block{
   display: inline-block;
   margin-bottom: 0;
   padding: 0;
 }

 .FacBlock-wrap-dash .blockk.fac-block .info-fac-wrap,
 .FacBlock-wrap-dash .blockk.fac-block .city,
 #portal .content .blockk.add-block#AddlocationDash{
    display: none;
  }

}
