@media screen and (max-width: 500px) {
  #portal .content {
    margin: 6em 1em 5em 1em;
  }

  #portal .block {
    position: relative;
    margin-bottom: 0.75em;
    display: block;
    text-align: center;
    border: 2px solid #6FCF97;
    border-radius: 5px;
    padding: 0;
    font-size: 1.5em;
  }
  #portal .content .add-block {
    border: 2px dashed #BFBFBF;
  }
}
