#portal .content .add-block {
    border: 2px dashed #BFBFBF;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 15px;
}

  .facblock-wrapper .blockk.fac-block{
    display: inline-block;
    border-width: 1px;
    border-color: gray;
  }

@media screen and (min-width: 501px){

  #portal > .content {
    padding-top: 100px;
    box-sizing: border-box;
    padding: 100px 1em 1em 1em;
  }

  #portal > .content > .text-block {
    text-align: left;
    padding: 1em 0;
    box-sizing: border-box;
  }
  
  #portal > .content > .text-block h1 {
    text-transform: uppercase;
  }

  #portal > .content > .text-block h2 {
    font-weight: lighter;
    font-size: 16px;
  }

  #portal > .content .inline-button{
    font-size: 10px;
    color: #6FCF97;
  }
  
  #portal .content .add-block {
    display: none;
  }

  .facblock-wrapper .blockk.fac-block{
    height: 100px;
    width: 31%;
  }

  .facblock-wrapper .blockk.fac-block .img-circle{
    vertical-align: middle;
    width: 20%;
    float: left;
    margin: 0 1em 0 1em;
  }

  .facblock-wrapper .blockk .description-fac-wrap{
    vertical-align: middle;
    text-align: left;
    margin: 0 0 0 5em;
  }

  .facblock-wrapper .blockk .description-fac-wrap .title{
      font-size: 1.5vw;
 }

  .facblock-wrapper .blockk.fac-block .info-fac-wrap{
    display: none;
  }

}

@media screen and (max-width: 500px) {
  #portal > .content {
    margin: 6em 1em 5em 1em;
  }

  #portal .content .add-block {
    display: block;
  }

  #portal .text-block{
    display: none;
  }

  .facblock-wrapper .blockk.fac-block{
    height: 95px;
    width: 22%;
    min-width: 0px;
    margin-bottom: 0;
  }

  .facblock-wrapper .blockk.fac-block .img-circle{
    width: 50%;
  }

  .facblock-wrapper .blockk .description-fac-wrap .title{
      font-size: 3.0vw;
 }

 #portal .content .facblock-wrapper .blockk.fac-block{
   display: inline-block;
   margin-bottom: 0;
   padding: 0;
 }

 .facblock-wrapper .blockk.fac-block .info-fac-wrap,
 .facblock-wrapper .blockk.fac-block .subtitle,
 #portal .content .blockk.add-block#AddlocationDash{
    display: none;
  }

}
