  #portal .line-block {
    padding: 0;
  }

  .line-block .chart {
    padding: 8px;
  }

    .line-block .header .time-span {
    margin: 10px 10px 0 10px;
    background-color: #F2C94C;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    height: 50px;
    width: 50px;
  }

  .line-block .header .title-location {
    overflow: auto;
    line-height: normal;
    margin-top: 7px;
  }

  .header .title-location .title {
    font-weight: normal;
  }
  .header .title-location .location {
    font-size: 0.6em;
    color: #808080;
  }

    .line-block .header {
    border-bottom: 1px solid #6FCF97;
    text-align: left;
    vertical-align: center;
    height: 70px;
  }

  .line-block .header span {
    padding: 0;
    margin: 0 4px 0 0;
    float: left;
  }

  .line-block .header .edit {
    float: right;
    margin-right: 20px;
    line-height: 70px;   
  }
  
    .line-block .header {
    border-bottom: 1px solid #6FCF97;
    text-align: left;
    vertical-align: center;
    height: 70px;
  }

  .line-block .header span {
    padding: 0;
    margin: 0 4px 0 0;
    float: left;
  }

@media screen and (min-width: 501px){

    #portal .line-block {
    margin-top: 100px;
    margin: 0px auto;
    width: 30%;
    margin: 10px;
    display: inline-block;
  }


}

@media screen and (max-width: 500px) {



}
