.FacBlock-wrap{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.FacBlock-wrap .blockk.fac-block {
  padding: 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: lightgray;
  height: auto;
}

.FacBlock-wrap .img-circle {
  width: 124px;
  height: 124px;
}

.FacBlock-wrap .title {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: lighter;
}

.FacBlock-wrap .subtitle {
  font-size: 14px;
  margin-top: 10px;
  font-weight: lighter;
}

.FacBlock-wrap .info-fac-wrap {
  position: relative;
}

.FacBlock-wrap .info-fac-wrap .wrap-info {
  margin-bottom: 0;
  margin-top: 15px;
}