.navbar-portal {
  color: #219653;
}

@media screen and (max-width: 500px) {
  .navbar-portal {
    background: #FFFFFF;
    opacity: 1.00;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .navbar-portal .profile-btn,
  .navbar-portal .edit-btn,
  .navbar-portal .logo {
    display: inline-block;
    font-size: 1.5em;
  }

  .navbar-portal .profile-btn {
    padding-left: 1em;
    float: left;
  }

  .navbar-portal .edit-btn {
    padding-right: 1em;
    float: right;
  }

  .navbar-portal .logo {
    width: 4.5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}