@media screen and (max-width: 500px) {
  .tiny-info-block {
    border-bottom: 1px solid #BDBDBD;
    font-size: 0.6em;
    overflow: auto;
  }

  .tiny-info-block .header {
    padding: 0;
  }

  .tiny-info-block .header .timespan {
    background-color: #F2C94C;
    padding: 4px 5px 4px 5px;
    margin: 8px 5px 0 8px;
    /*margin-left: 8px;*/
    border-radius: 3px;
    line-height: 20px;
    margin-right: 5px;
  }

  .tiny-info-block .header .key {
    /*width: 160px;*/
    text-align: center;
    padding-top: 11px;
  }

  .tiny-info-block .value-unit {
    float: right;
    width: 50px;
    padding: 0;
    margin: 0;
  }

  .tiny-info-block .value-unit .value,
  .tiny-info-block .value-unit .unit {
    display: block;
  }

  .tiny-info-block .value-unit .unit {
    font-size: 0.6em;
    color: #828282;
  }
}
