.top-navbar-portal {
  color: #219653;
}

@media screen and (min-width: 501px) {

  .top-navbar-portal{
    display: none;
  }

}

@media screen and (max-width: 500px) {
  .top-navbar-portal {
    background: #FFFFFF;
    opacity: 1.00;
    border-bottom: 1px solid lightgray;
    background-image: url('../../imgs/sunlabs-logo-black-text.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110px auto;
    z-index: 100;
    position: fixed;
    padding: 1.5em 0;
    left: 0;
    top: 0;
    width: 100%;
    background-position: center center;
    background-size: 110px auto;
    font-weight: lighter;
  }

  .top-navbar-portal .profile-btn,
  .top-navbar-portal .edit-btn,
  .top-navbar-portal .logo {
    display: inline-block;
    font-size: 1.25em;
  }

  .top-navbar-portal .profile-btn {
    margin-left: 1em;
    float: left;
  }

  .top-navbar-portal .edit-btn {
    margin-right: 1em;
    float: right;
  }

}